
= render 'galleries/chooser'

- if signed_in?
  %p
    = link_to 'Sign Out', signout_path, method: "delete"
    |
    = link_to 'New Gallery', new_gallery_path 
    |
    = link_to 'Pieces', pieces_path 