  
- content_for :admin_menu do  
  %li.btn.btn-inverse Gallery:
  %li.btn.btn-inverse= link_to 'Edit', edit_gallery_path(@gallery) 
  %li.btn.btn-inverse= link_to 'Destroy', @gallery, method: :delete, data: { confirm: 'Are you sure?' } 

