
//* { margin: 0; padding: 0; border: 0; } 

body {
  font: 62.5%/1.2 Verdana, Arial, Sans-Serif;
  letter-spacing: 0.02em;
  background-color: #000000;
  color: #465053;
  text-align: left;
}

.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
  background-color: #465053;
}

a.thumbnail {
  min-width: 50px;
  min-height: 50px;
}

a.thumbnail.active {
  border-color: #0088cc;
}

a { color: #9db2b9; }
a:hover { text-decoration: none; }
a:focus { outline: none; }

ul.contact {
  list-style-type: none;
  padding: 12px;
  margin: 12px;
}

ul.contact > li {
  text-align: right;
  font-size: 14px;
  color: #BBBBBB;
}

.flash-error {
  background-color: #993333; 
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
}
