
//* { margin: 0; padding: 0; border: 0; } 

body {
  font: 62.5%/1.2 Verdana, Arial, Sans-Serif;
  letter-spacing: 0.02em;
  background-color: #000000;
  color: #465053;
  text-align: left;
}

.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
  background-color: #465053;
}


.center {
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}

a { color: #9db2b9; }
a:hover { text-decoration: none; }
a:focus { outline: none; }

ul.textmenu {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul.textmenu > li {
  display: inline-block;
}

ul.textmenu > li.selected {
  background: #465053;
}

ul.thumbs {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

ul.thumbs > li {
  display: inline-block;
}

.flash-error {
  background-color: #993333; 
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
}
